<div class="carousel">
    <style>
        {{#each coolServices}}
        [data-type="{{dataType}}"] .content__left {
            background-image: url("{{bgimage}}");
        }
        .spinner--right [data-type="{{dataType}}"] .content__left {
            background-image: none;
        }
        {{/each}}
    </style>
    <div class="carousel__control">
    </div>
    <div class="carousel__stage">
        <div class="spinner spinner--left">
            {{#each coolServices}}
            <div class="spinner__face {{jsActive}}" data-bg="{{databg}}">
                <div class="content" data-type="{{dataType}}">
                    <div class="content__left">
                        <h1>{{titleName}}<br><span>{{titleCat}}</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                            <p>{{bodyDesc}}</p>
                            <p>{{bodyAuthor}}</p>
                        </div>
                        <h3 class="content__index">{{index}}</h3>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>